<mat-toolbar class="main-toolbar">
  <span class="main-title">E-Tracker</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>
      <img src="../../../../assets/images/user-icon.png" alt="" srcset="" />
    </mat-icon>
  </button>

  <div class="user-info-section">
    <div class="column" fxLayout="column">
      <p class="f-13 m-0 fw-bold">Shaik Mastan Mohib</p>

      <div class="sub-section row" fxLayout="row" fxLayoutGap="10px">
        <p class="f-13 mb-0">Settings</p>
        <a href="" class="f-13 mb-0 hyperLinkStyle">Log out</a>
      </div>
    </div>
  </div>
</mat-toolbar>
